.types-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.types{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.slide > span{
    width: 10px;
    height: 10px;
    background-color: #5ad10a;
    border-radius: 50%;
}

.actives{
    background-color: brown;
}

.slide{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap : 8px;
    background-color: white;
}